@font-face {
  font-family: "iconfont"; /* Project id 3171810 */
  src: url('iconfont.woff2?t=1647093393999') format('woff2'),
       url('iconfont.woff?t=1647093393999') format('woff'),
       url('iconfont.ttf?t=1647093393999') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rotate:before {
  content: "\e807";
}

.icon-chart:before {
  content: "\e607";
}

.icon-edit:before {
  content: "\e649";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-yemian:before {
  content: "\e632";
}

.icon-check:before {
  content: "\e7fc";
}

.icon-preview:before {
  content: "\e605";
}

.icon-bold:before {
  content: "\e7f7";
}

.icon-underline:before {
  content: "\e7fa";
}

.icon-italic:before {
  content: "\e7fb";
}

.icon-save:before {
  content: "\e762";
}

.icon-area:before {
  content: "\e690";
}

.icon-back:before {
  content: "\e679";
}

.icon-image:before {
  content: "\e746";
}

.icon-mtbutton:before {
  content: "\e6cc";
}

.icon-text:before {
  content: "\e680";
}

.icon-delete:before {
  content: "\e6b4";
}

.icon-lock-fill:before {
  content: "\e86a";
}

.icon-unlock-fill:before {
  content: "\e86b";
}

.icon-eye:before {
  content: "\e608";
}

.icon-eye1:before {
  content: "\e60e";
}

.icon-sucaiku:before {
  content: "\e604";
}

